@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fashion Store</h1>
    <p class="lead">This is simply Online Shopping Store built by Garima Singhal</p>
    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Index", "Items")'">Start Shopping &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>



</div>